.monopoly-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 column */
    grid-template-rows: repeat(8, 1fr);    /* 8 row */
    width: 98vw;
    height: 98vw;
    background: #c7e5d5;
    border: 3px solid #333;
    position: relative;
}

.center-board {
    grid-column: 2 / 8; /* ၂ ကွက်မြောက်ကနေ ၈ ကွက်မြောက်အထိ ချန်မယ် */
    grid-row: 2 / 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.slot {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    background: white;
    font-weight: bold;
}

/* ထောင့်ကွက်တွေကို အရောင်ခွဲမယ် */
.corner { background: #f1c40f !important; }

#player {
    position: absolute;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    z-index: 100;
    transition: all 0.4s ease;
}
